@import url("https://fonts.googleapis.com/css2?family=Homenaje&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Homenaje", sans-serif;
}

body {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
